<div class="w-full max-w-2xl grid grid-cols-1 gap-4 my-8 px-4 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" class="p-5 border rounded border-black bg-purple hover:border-purple">
                <h2 class="mb-4 text-2xl  text-center">{{item.title}}</h2>
                    <p class="mb-2">{{item.desc}}</p>
                    <p><strong>{{item.cta}} →</strong></p>
            </a>
        {% endfor %}

    {% endif %}

</div>